.dropdownList {
  width: 120px;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .dropdownList {
    color: #c8c3bc;
    background-color: #181a1b;
  }
}
