.customBoard {
  display: flex;
  flex-direction: row;
}

.customBoardItem {
  display: flex;
  flex-direction: column;
}

.textBox {
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.setButton {
  width: 60px;
  height: 30px;
  margin: 10px;
}

@media (prefers-color-scheme: dark) {
  .customBoardItem {
    color: #c8c3bc;
    background-color: #181a1b;
  }

  .textBox {
    color: #c8c3bc;
    background-color: #181a1b;
  }

  .setButton {
    color: #c8c3bc;
    background-color: #181a1b;
  }
}
